{% extends 'base.html' %}
{% block title %}Recipe details{% endblock %}
{% block content %}
<h1>{{ receipt.name }}</h1>
    <p><strong>Category:</strong> {{ receipt.category }}</p>
    <p><strong>Description:</strong> {{ receipt.description }}</p>
    <p><strong>Steps:</strong> {{ receipt.steps }}</p>
    <p><strong>Time:</strong> {{ receipt.time }} minutes</p>
    <p><strong>Author name:</strong> {{ receipt.author }}  </p>

    {% if receipt.photo %}
        <img src="{{ receipt.photo.url }}" alt="{{ receipt.name }}">
    {% endif %}
    <br>
    <p>Know how to make better? <a href="{% url 'modify_receipt' receipt_id=receipt.id %}">Edit current recipe!</a></p>

{% endblock %}